/*   Default Browser style   */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Quicksand", sans-serif;
}
/*   Default Browser style   */

/*  Styles for Header  */
.header-holder > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.7);
}
.logo-holder > h1 {
    font-size: 2rem;
    text-transform: uppercase;
}
.cv-holder {
    margin-top: 8px;
}
.cv-holder > a {
    text-decoration: none;
    padding: 10px;
    background-color: #00adb5;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
}
.cv-holder > a:hover {
    background-color: #00fff5;
    color: black;
}
/*  Styles for Header  */

/*  Styles Navigation Links  */
.navigation-menu-holde {
    background-color: black;
}
.navigation-menu-holde > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.navigation-menu-holde > nav > ul > li {
    list-style-type: none;
}
.navigation-menu-holde > nav > ul > li > a {
    padding: 15px;
    display: inline-block;
    color: white;
    text-decoration: none;
}
.navigation-menu-holde > nav > ul > li > a:hover{  
    color: black;
    background-color: #00fff5 ;
}
/*  Styles Navigation Links  */

/*  Styles the slider images  */
#adaptive > li {
    width: 500px;
    height: 420px;
}
#adaptive > li > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*  Styles for the slider images  */

/*  Styles for the Slider or removing spaces  */
.lSPager {
    margin-top: -25px !important;
}
/*  Styles for the Slider or removing spaces  */

/*  styles for the Main page  */
main > h2 {
    text-align: center;
    color: #393e46;
    margin-top: 50px;
}
.featured-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    
}
.featured-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.featured-content > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
}
.detail-holder {
    padding: 14px;
}
.detail-holder > h2 {
    margin-top: 10px;
}
.front-page-photos {
    margin-top: 50px;
}
.front-page-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.front-page-content {
    width: 400px;
    height: 350px;
}
.front-page-content > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.explore-btn {
    margin: 15px 0px  0px 0;
}
.explore-btn > a {
    width: 100%;
    padding: 16px;
    text-decoration: none;
    background-color: #00adb5;
    color: white;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
    text-align: center;
}
.explore-btn > a:hover {
    background-color: #00fff5;
    color: black;
}
/*  styles for the Main page  */

/*  Styles the footer Content  */
.footer-holder {
    padding: 20px;
    width: 100%;
    height: 255px;
    background-color: #00adb5;
    margin-top: -10px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer {
    background-color: #000;
    color: white;
    padding: 15px;
    text-align: center;
}

.footer-links, .currently-links, .interests-in-links {
    display: flex;
    flex-direction: column;
}
.footer-links li, .currently-links > li, .interests-in-links > li {
    list-style-type: none;
    margin-top: 12px;
}
.footer-links > li > a, .currently-links > li > a, .interests-in-links > li > a {
    text-decoration: none;
    color: #fff;
}
.footer-links > li > a:hover {
    color: #393e46;
}
.footer-links > li > a:active {
    color: #00adb5;
}
.currently-links > li > a:hover {
    color: #393e46;
}
.interests-in-links > li > a:hover {
    color: #393e46;
}

.address-footer-content > h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.address-holder {
    margin-top: 20px;
}
.address-holder > address > small {
    color: #fff;
    margin-top: 10px;
}
/*  Styles the footer Content  */

/*  Styles for Projects Page  */
section {
    background-color: #fff;
}
section > h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
    color: darkgray;
}
.projects-holder {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 35px;
}
.projects-content {
    width: 440px;
    height: 300px;
    padding: 40px;
    border: 1px solid gainsboro;
    margin-bottom: 30px;
}
.projects-content > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    margin-bottom: 10px;
}
.projects-content > p {
    color: gray;
}
.projects-content > a {
    position: relative;
    left: 265px;
    top: -20px;
    text-decoration: none;
    color: #00adb5;
}
/*  Styles for Projects Page  */

/*  Styles for Contact Page  */
.gmap {
    width: 100%;
    height: 400px;
    border-bottom: 1px solid gainsboro;
}
.gmap > iframe {
    width: 100%;
    height: 400px;
}
.contact-holder {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    background-color: #fff;
}
.form-holder, .timing-holder {
    width: 50%;
}
.form-holder > form {
    padding: 30px;
    margin: auto;
}
.input-field {
    width: 100%;
    padding: 16px;
    margin-top: 10px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.btn {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    background-color: #393e46;
    color: white;
    border-radius: 3px;
    outline: none;
    border: none;
}
.btn:hover {
    background-color: #000;
    color: #fff;
}
/*form error Styles*/
.error-message {
    color: red;
    margin-top: 1px;
}
/*form error Styles*/
.timing-holder {
    padding: 20px;
    margin-top: 80px;
}
.timing-holder > p {
    margin-top: 15px;
}
.timing-holder > h2 {
    margin-top: 25px;
}
/*  Styles for Contact Page  */

/*  Styles for About Page  */
.about-holder {
    padding: 10px;
}
.about-content > h2 {
    padding: 10px;
    color: darkgray;
}
.about-content > p {
    padding: 10px;
}
/*  Styles for About Page  */

/*  Resposive Design  */
@media (max-width: 750px) {
    .header-holder > header {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .cv-holder {
        margin-top: 25px;
    }
    .navigation-menu-holde > nav > ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #adaptive > li > img{
        width: 100%;
        height: 220px;
    }
    .featured-holder {
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        padding: 6px;
    }
    .featured-content {
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .featured-content {
        width: auto;
    }
    .front-page-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    explore-btn > a {
        width: 100%;
        padding: 10px;
        display: inline-block;
        cursor: pointer;
    }

    .footer-holder {
        height: 760px;
        background-color: #00adb5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer {
        background-color: #000;
        color: white;
        padding: 10px;
        text-align: center;
    }
    .footer-content {
        width: auto;
    }
    .footer-content, .address-footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    /*Resposive for Project Design*/
    .projects-holder {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        width: 100%;
    }
    .projects-content > img {
        width: 100%;
        height: 180px;
        border-radius: 3px;
    }
    /*Resposive for Project Design*/
    /*Resposive for Contact Design*/
    .gmap {
        width: auto;
        
        border-radius: 3px;
    }
    .input-field,.btn {
        width: 100%;
    }
    .contact-holder {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        align-items: center;
        justify-content: center;
    }
    /*Resposive for Contact Design*/
}
/*  Resposive Design  */
